.wrapper-center {
  display: flex;
  justify-content: center;
  padding: 0 40px;
}

.allspots-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px 20px;
  /* row-gap col-gap */
  flex-wrap: wrap;
  width: 100%;
  margin: 0px 40px 20px 40px;
  /* top right bot left */
}

.allspots-spot-image-container {
  width: 100%;
  padding-bottom: 100%;
  margin: 1em auto;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.allspots-spot-image-container img {
  position: absolute;
  object-fit: cover;
  width: auto;
  max-width: 100%;
  min-height: 100%;
  border-radius: 15px;
}

.allspots-spot-info {
  text-decoration: none;

}

.allspots-spot-location {
  font-weight: 500;
  padding-bottom: 5px;
  padding-left: 2px;
  text-decoration: none;
}






.host-whole-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.host-header-conatiner {
  margin-bottom: 10px;
}

.host-form-container {
  display: flex;
  justify-content: center;
}

.host-form-container .form-input-break {
  width:102.5%;
}

.submit-button {
  width: 99%;
  padding: 10px;
  margin: 0px 0px 5px -3px;
  border: 1px rgb(255, 90, 96) solid;
  border-radius: 4px;
  background: rgb(255, 90, 96);
  color: white;
  font: bold;
}

.submit-button:hover {
  background: white;
  border: 1px rgb(255, 90, 96) solid;
  color:rgb(255, 90, 96);
}
