.allspots-wrapper {
  display: grid;
  /* grid-template-columns: 200px 200px 200px 200px; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 40px 24px;
  width: 100%;
  margin: 20px 50px 20px 50px;
}

.allspots-container {
  display: flex;
  justify-content: center;
  padding: 0 40px;
}

.allspots-spot-image-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.allspots-spot-image-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
