@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap"); */

* {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: -40px 80px 0px 0px;
  /* top right bottom left  */
}

.pfbutton {
  width: 70px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgb(96, 123, 198, 0.5);
  justify-self: left;
  background-color: white;
  transition: box-shadow 0.5s;
}

.pfbutton:hover {
  box-shadow: 1px 2px 5px rgb(187, 200, 228);
  cursor: pointer;
}

.fa-user {
  color: rgb(96, 123, 198);
  margin-left: 5px;
}

.fa-bars {
  color: rgb(96, 123, 198);
  margin-right: 8px;
}

.pfdropdown {
  border: solid rgb(187, 200, 228, 0.3) 0.1px;
  box-shadow: 0px 0px 10px rgb(187, 200, 228, 0.7);
  background-color: white;
  border-radius: 15px;
  top: 83px;
  position: absolute;
  height: 270px;
  width: 200px;
  z-index: 5000;
}

.currentuser-wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
}

.currentuser {
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 15px;
  height: 20px;
  /* font-size:14px; */
  font-weight:300;
}

.middleline {
  background-color: rgb(96, 123, 198, 0.2);
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.menu-select {
  /* margin-top: 15px; */
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  height: 20px;
}

.menu-select:hover {
  background-color: rgb(187, 200, 228, 0.3);
  cursor: pointer;
}

.logindropdown {
  border: solid rgb(187, 200, 228, 0.3) 0.1px;
  box-shadow: 0px 0px 10px rgb(187, 200, 228, 0.7);
  background-color: white;
  border-radius: 15px;
  top: 83px;
  position: absolute;
  height: 145px;
  width: 200px;
  z-index: 5000;
  padding-top: 11px;
}

.login-select {
  margin-bottom: 6px;
  /* margin-bottom: 20px; */
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  height: 20px;
}

.login-select:hover {
  background-color: rgb(187, 200, 228, 0.3);
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 100px;
  width: 130px;
}

.headerbreak {
  background-color: rgb(187, 200, 228, 0.3);
  width: 100%;
  height: 1.5px;
  margin-top: 22px;
}

.sessionlinks {
  padding-right: 10px;
}

.sessionlinks span {
  padding: 20px;
}
