

form {
  display: flex;
  flex-direction: column;
}


/* .login-button {
  color: red;
} */

.modal-wrapper {
  z-index: 500;
}

.close-button {
  cursor: pointer;
}

.close-button:hover {
  background-color: rgb(255, 90, 96);
}
